[submodule "lib/reportr"]
	path = lib/reportr
	url = https://github.com/jonclayden/reportr.git
[submodule "lib/mmand"]
	path = lib/mmand
	url = https://github.com/jonclayden/mmand.git
[submodule "lib/RNiftyReg"]
	path = lib/RNiftyReg
	url = https://github.com/jonclayden/RNiftyReg.git
[submodule "lib/corpcor"]
	path = lib/corpcor
	url = https://github.com/tractor/corpcor.git
[submodule "lib/Rcpp"]
	path = lib/Rcpp
	url = https://github.com/tractor/Rcpp.git
[submodule "lib/ore"]
	path = lib/ore
	url = https://github.com/jonclayden/ore.git
[submodule "lib/RcppEigen"]
	path = lib/RcppEigen
	url = https://github.com/tractor/RcppEigen.git
[submodule "lib/png"]
	path = lib/png
	url = https://github.com/tractor/png.git
