[submodule "lib/reportr"]
	path = lib/reportr
	url = https://github.com/jonclayden/reportr.git
[submodule "lib/mmand"]
	path = lib/mmand
	url = https://github.com/jonclayden/mmand.git
[submodule "lib/RNiftyReg"]
	path = lib/RNiftyReg
	url = https://github.com/jonclayden/RNiftyReg.git
[submodule "lib/corpcor"]
	path = lib/corpcor
	url = https://github.com/tractor/corpcor.git
[submodule "lib/Rcpp"]
	path = lib/Rcpp
	url = https://github.com/tractor/Rcpp.git
[submodule "lib/ore"]
	path = lib/ore
	url = https://github.com/jonclayden/ore.git
[submodule "lib/RcppEigen"]
	path = lib/RcppEigen
	url = https://github.com/tractor/RcppEigen.git
[submodule "lib/RNifti"]
	path = lib/RNifti
	url = https://github.com/jonclayden/RNifti.git
[submodule "lib/divest"]
	path = lib/divest
	url = https://github.com/jonclayden/divest.git
[submodule "lib/yaml"]
	path = lib/yaml
	url = https://github.com/tractor/yaml.git
[submodule "lib/loder"]
	path = lib/loder
	url = https://github.com/jonclayden/loder.git
[submodule "lib/shades"]
	path = lib/shades
	url = https://github.com/jonclayden/shades.git
