useDynLib(tractor.native)

import(reportr)
import(tractor.base)
importFrom(tractor.session, getBedpostNumberOfFibresForSession)
importFrom(tractor.nt, newStreamlineTractMetadataFromImageMetadata, newStreamlineCollectionTractBySubsetting, StreamlineCollectionTract)

importClassesFrom(tractor.session, MriSession)
importClassesFrom(tractor.nt, StreamlineTractMetadata, StreamlineSetTract, StreamlineCollectionTract)

export(trackWithSession, trackWithImages)
export(findWaypointHits, newStreamlineCollectionTractWithWaypointConstraints)
