import("grDevices", "graphics", "methods", "utils")

importFrom("splines", "interpSpline")

export(".wrapper")

exportPattern("^[^\\.]")

exportClasses("nifti",
              "afni",
              "anlz",
              "niftiExtension",
              "niftiExtensionSection") #, "niftiAuditTrail")

exportMethods("audit.trail<-",
              "audit.trail",
              "aux.file<-",
              "aux.file",
              "descrip<-",
              "descrip",
              "image",
              "orthographic",
              "overlay",
              "pixdim",
              "pixdim<-",
              "show",
              "writeNIfTI")
