import(reportr)
import(methods)

exportClasses(SerialisableObject, SparseArray, MriImage, DicomMetadata)

S3method(Math, MriImage)
S3method(Ops, MriImage)
S3method(Summary, MriImage)
S3method(dim, MriImage)
S3method(as.array, MriImage)

S3method(dim, SparseArray)
S3method(as.array, SparseArray)

S3method(print, DicomMetadata)

export(nilObject)
export(is.nilObject)
export(isDeserialisable)
export(serialiseReferenceObject)
export(deserialiseReferenceObject)

export(emptyMatrix)
export(is.emptyMatrix)

export(equivalent)
export(implode)
export(printLabelledValues)
export(relativePath)
export(promote)
export(expandFileName)
export(ensureFileSuffix)
export(threadSafeTempFile)

export(locateExecutable)
export(execute)

export(vectorLength)
export(vectorCrossProduct)
export(angleBetweenVectors)
export(resolveVector)

export(createNeighbourhoodInfo)

export(newSparseArrayWithData)

export(readDicomDirectory)
export(readImageFile)
export(writeImageFile)
export(newMriImageFromFile)
export(writeMriImageToFile)
export(newMriImageWithData)
export(newMriImageAsShapeOverlay)
export(newMriImageByExtraction)
export(newMriImageByMasking)
export(newMriImageByThresholding)
export(newMriImageByTrimming)
export(newMriImageByReordering)
export(newMriImageWithBinaryFunction)
export(newMriImageWithSimpleFunction)
export(newMriImageWithDataRepresentation)
export(generateImageDataForShape)
export(extractDataFromMriImage)

export(identifyImageFileNames)
export(imageFileExists)
export(removeImageFilesWithName)
export(copyImageFiles)
export(symlinkImageFiles)

export(sortDicomDirectory)
export(newDicomMetadataFromFile)

export(getColourScale)
export(interpolatePalette)
export(createCombinedGraphics)
export(createProjectionGraphic)
export(createSliceGraphic)
export(createContactSheetGraphic)
export(viewImages)
export(defaultInfoPanel)
