import(reportr)
import(tractor.base)
import(RNiftyReg)

importFrom(oro.nifti, nifti, is.nifti, as.nifti, convert.datatype, convert.bitpix)

exportPattern("^[^\\.]")
export(transformVoxelToWorld)
export(transformWorldToVoxel)
